<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"

>
  <image imageURL="images/01.jpg"
	thumbURL="thumbs/01.jpg"
	linkURL="images/01.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/orbiter/Propulsion/IA/_scratch/SHOW01/01.jpg">
    <title><![CDATA[01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/02.jpg"
	thumbURL="thumbs/02.jpg"
	linkURL="images/02.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/orbiter/Propulsion/IA/_scratch/SHOW01/02.jpg">
    <title><![CDATA[02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/03.jpg"
	thumbURL="thumbs/03.jpg"
	linkURL="images/03.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/orbiter/Propulsion/IA/_scratch/SHOW01/03.jpg">
    <title><![CDATA[03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/04.jpg"
	thumbURL="thumbs/04.jpg"
	linkURL="images/04.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/orbiter/Propulsion/IA/_scratch/SHOW01/04.jpg">
    <title><![CDATA[04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/06.jpg"
	thumbURL="thumbs/06.jpg"
	linkURL="images/06.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/orbiter/Propulsion/IA/_scratch/SHOW01/06.jpg">
    <title><![CDATA[06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/07.jpg"
	thumbURL="thumbs/07.jpg"
	linkURL="images/07.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/orbiter/Propulsion/IA/_scratch/SHOW01/07.jpg">
    <title><![CDATA[07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>